<% object.each do |obj|%>
 <tr>
   <% header_include.each do |a|%>
    <td><%=obj.send(a)%></td>
   <% end %>
   <p>    <%=raw obj.content if (obj.id == 4 || obj.id == 5 || obj.id == 6)%></p>
 </tr>
<% end%>
