<% object.each do |obj|%>
  <!--div class="img"-->
    <%if obj.medium =='text'%>	
    <div class="span4">
      <div class="caption">
     <div class="item">					
      <% header_include.each do |a|%>
       <%=raw obj.send(a)%>
      <% end %>
      </div>
     </div>	
    </div>
   <%else%>
    <div class="span4">
     <div class="item">
       <%=raw obj.content%>
    </div>
   </div>	
   <%end%>
 	<!--/div-->
<% end%>



							
							
		