<div class="content">
	 <%cache("component2") do%>
      <%=raw render_template_in_format({:object=>@base_articles,:header_include=>[],:main_header=>{'id'=>'Id',"title"=>"Title","content"=>"Content"},:decoration=>"/decoration/decoration_empty",:partial=>"/base_articles/index"})%>
       <%end%>	
</div>
